node_modules
.next
.git
.gitignore
*.md
.env
.env.local
.env.production
.env.development
*.log
.DS_Store
*.zip
*.rar
venv
__pycache__
*.pyc
iniapa
tradanalisaFE.zip
backendBE.rar
test.py
backend/__pycache__
backend/*.db
backend/*.sqlite
backend/logs
backend/venv
